#
#  Copyright (c) 2016 CA. All rights reserved.
#
#  This software may be modified and distributed under the terms
#  of the MIT license. See the LICENSE file for details.
#
version: '2'
services:
  developer-console:
    image: caapimcollab/mobile-developer-console
    ports:
      - 443:443
    environment:
      - MAS_HOSTNAME
  mosquitto:
      image: eclipse-mosquitto
      expose:
        - "1883"
  mysqldb:
    image: mysql:5.5
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_USER=db_admin
      - MYSQL_PASSWORD
    volumes:
      - mysql-data:/var/lib/mysql
      - ./sql/scripts/startup/:/docker-entrypoint-initdb.d/
      - ./sql/config/my.cnf:/etc/mysql/conf.d/my.cnf
    expose:
      - "3306"
  mas:
    image: caapimcollab/mobile-app-services:1.3.00-beta
    ports:
      - "8080:8080"
      - "8443:8443"
      - "8883:8883"
    hostname: ${BUNDLE_TEMPLATE_HOSTNAME}
    links:
      - mysqldb
      - mosquitto
    environment:
      - SSG_CLUSTER_PASSWORD
      - SSG_DATABASE_TYPE
      - SSG_DATABASE_DERBY_IN_MEMORY
      - SSG_JVM_HEAP
      - BUNDLE_TEMPLATE_HOSTNAME
      - BUNDLE_TEMPLATE_OTK_HOSTNAME
      - BUNDLE_TEMPLATE_HOSTNAME_ENCODED
      - BUNDLE_TEMPLATE_PROTOCOL_HOSTNAME_ENCODED
      - BUNDLE_TEMPLATE_OTK_DATABASE_HOST
      - BUNDLE_TEMPLATE_OTK_DATABASE_PORT
      - BUNDLE_TEMPLATE_OTK_DATABASE_USER
      - BUNDLE_TEMPLATE_OTK_DATABASE_PASSWORD
      - BUNDLE_TEMPLATE_OTK_DATABASE_NAME
      - BUNDLE_TEMPLATE_OTK_DATABASE_TYPE
      - BUNDLE_TEMPLATE_OTK_DATABASE_MYSQL_ENABLED
      - BUNDLE_TEMPLATE_MAG_DATABASE_HOST
      - BUNDLE_TEMPLATE_MAG_DATABASE_PORT
      - BUNDLE_TEMPLATE_MAG_DATABASE_USER
      - BUNDLE_TEMPLATE_MAG_DATABASE_PASSWORD
      - BUNDLE_TEMPLATE_MAG_DATABASE_NAME
      - BUNDLE_TEMPLATE_MAG_DATABASE_TYPE
      - BUNDLE_TEMPLATE_MAG_DATABASE_MYSQL_ENABLED
      - BUNDLE_TEMPLATE_IDENTITY_DATABASE_HOST
      - BUNDLE_TEMPLATE_IDENTITY_DATABASE_PORT
      - BUNDLE_TEMPLATE_IDENTITY_DATABASE_USER
      - BUNDLE_TEMPLATE_IDENTITY_DATABASE_PASSWORD
      - BUNDLE_TEMPLATE_IDENTITY_DATABASE_NAME
      - BUNDLE_TEMPLATE_IDENTITY_DATABASE_TYPE
      - BUNDLE_TEMPLATE_IDENTITY_DATABASE_MYSQL_ENABLED
      - BUNDLE_TEMPLATE_STORAGE_DATABASE_HOST
      - BUNDLE_TEMPLATE_STORAGE_DATABASE_PORT
      - BUNDLE_TEMPLATE_STORAGE_DATABASE_USER
      - BUNDLE_TEMPLATE_STORAGE_DATABASE_PASSWORD
      - BUNDLE_TEMPLATE_STORAGE_DATABASE_NAME
      - BUNDLE_TEMPLATE_STORAGE_DATABASE_TYPE
      - BUNDLE_TEMPLATE_STORAGE_DATABASE_MYSQL_ENABLED
      - BUNDLE_TEMPLATE_MESSAGING_BROKER_HOST
      - BUNDLE_TEMPLATE_MESSAGING_BROKER_PORT
      - BUNDLE_TEMPLATE_DEV_CONSOLE_DATABASE_HOST
      - BUNDLE_TEMPLATE_DEV_CONSOLE_DATABASE_PORT
      - BUNDLE_TEMPLATE_DEV_CONSOLE_DATABASE_USER
      - BUNDLE_TEMPLATE_DEV_CONSOLE_DATABASE_PASSWORD
      - BUNDLE_TEMPLATE_DEV_CONSOLE_DATABASE_NAME
      - BUNDLE_TEMPLATE_DEV_CONSOLE_DATABASE_TYPE
      - BUNDLE_TEMPLATE_DEV_CONSOLE_DATABASE_MYSQL_ENABLED
      - ADD_TEST_USERS_GROUPS
      - ADD_TEST_CLIENTS
volumes:
  mysql-data:
